
header{
    background-image:url(image/bg_header.jpg); 
    
    height: 400px;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoheader{
    width: 400px;

}

body{
    background-color: #3c3c3c;
}

.navbar{
    background-color: #fec88a
}

.searchButton{
    width: 20px;
    height: 25px;
    color: #fec88a;
    background-color: #a1393a;
    border: 1px solid #00B4CC;

}

