
header{
    background-image:url(image/bg_header.jpg); 
    
    height: 400px;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoheader{
    width: 400px;

}

body{
    background-color: #3c3c3c;


}

nav{

    font-size: 13px;
    height: 40px;
    margin-bottom: 55px;
}

form {
    border: 1px solid #a1393a;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    color: #fec88a;
    transform: scale(1.2);
}

button{
    all: unset;
    background-color:#a1393a ;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    all: unset;
    background-color: #fec88a;
    color: #a1393a;
    margin-right: 40px;
    margin-left: 10px;
}






.navi nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: #fec88a;
   

  }
  

  nav ul li{
    display: inline-block;
    margin-right: 35px;
    margin-left: 35px;
    align-content: center;

        
  }

.searchbar {
    margin-right: 75px;
    
}



  .menu{
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0px;
    padding-left: 60px;
    
    
  }

  .menu li a {
    color: #a1393a;
  }

  .achin{
    margin-top: 49px;
    margin-bottom: 49px;
    text-align: center;
}
 
.mecard{
    
    margin-left: 10px;
    
}

.cotedeboeuf{
    margin-top:50px;
    
}

.cookiesesame{
    margin-top: 50px;
}

.categories{
    margin-top: 50px;
}

.biere{
    margin-bottom: 25px;

}

.galerie{
    margin-bottom: 50px;
    margin-top: 50px;
}

h5{

     font-family: "Roboto";
     color: #fec88a;
     margin: 15px;

}


.galerietop{
    margin-bottom: 18px;
}

.bgfooter{
    background-color: black;
    margin-top: 5vw;
    height: 300px ;
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    justify-content: space-evenly;
    background-image: url(bg_footer.jpg);
    background-size: cover;
    opacity: 0.3;
}

.ulf{
    display: flex;
    justify-content: end;
}

.ulf li{
    margin:3%;
    list-style-type: none;

}

.droite {
    margin-top: 70px;
    margin-bottom: 70px;
}

.adequat{
    margin-top: 50px;
}

p {
    text-align: right;
    font-family: "Roboto";

}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #a1393a;
    border-bottom: 1px solid #a1393a;
    margin-bottom: 50px;
}

.listealcool{
    padding: 0px;
    font-family: "Roboto";
    font-size: 20px;
    color: aliceblue;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 50px;
}

.listealcool li{
    margin: 5px
}


.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #a1393a;
    border-bottom: 1px solid #a1393a;
    margin-bottom: 15px;
}

.galerie{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #a1393a;
    border-bottom: 1px solid #a1393a;
}

.soupeparent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.psoupe{
    position: absolute;
    border-top: 1px solid #fec88a;
    border-bottom: 1px solid #fec88a;
    display: flex;
    justify-content: center;
    width: 75%;
    height: auto;  
}

.tsoupe{
    color: #fec88a;
    font-size: 22px;
    margin: 0px;
}

.saladeparent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textsalade{
    position: absolute;
    border-top: 1px solid #fec88a;
    border-bottom: 1px solid #fec88a;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
}

.psalade{
    color: #fec88a;
    font-size: 22px;
    margin: 0px;
}

.dessertparent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textdessert{
    position: absolute;
    border-top: 1px solid #fec88a;
    border-bottom: 1px solid #fec88a;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
}

.pdessert{
    color: #fec88a;
    font-size: 22px;
    margin: 0px;
}

.card{
    background-color: #c2c57e;
}

.card-text{
    text-align: justify;
    text-align: center;
}